<h3>Update Books</h3>
<form (ngSubmit) = "onSubmit()">

  <div class = "form-group">
    <label >Author</label>
    <input type = "text" class = "form-control" [(ngModel)] = "book.author" name = "Author">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>

  <div class = "form-group">
    <label for = "title">Book Title</label>
    <input type = "text" class = "form-control" id = "title" [(ngModel)] = "book.title" name = "Title">
  </div>

  <div class = "form-group">
    <label >Publisher Name</label>
    <input type = "text" class = "form-control" [(ngModel)] = "book.publisherName" name = "PublisherName">
  </div>

  <div class = "form-group">
    <label >Published Year</label>
    <input type = "text" class = "form-control" [(ngModel)] = "book.publishedYear" name = "PublishedYear">
  </div>

  <div class = "form-group">
    <label >ISBN</label>
    <input type = "text" class = "form-control"  [(ngModel)] = "book.noOfPages" name = "NoOfPages">
  </div>

  <div class = "form-group">
    <label >No of Pages</label>
    <input type = "text" class = "form-control"  [(ngModel)] = "book.isbn" name = "Isbn">
  </div>


  <div class = "form-group">
    <label >Genre</label>
    <input type = "text" class = "form-control" [(ngModel)] = "book.genre" name = "Genre">
  </div>

  <div class = "form-group">
    <label >Key</label>
    <input type = "text" class = "form-control"  [(ngModel)] = "book.key" name = "Key">
  </div>

  <button class = "btn btn-success" type = "submit">Submit</button>
</form>
