
<h2>Book List</h2>
<table class = "table">
  <thead>
  <tr>
    <th>BookId</th>
    <th>Author</th>
    <th>Title</th>
    <th>Publisher</th>
    <th>Year</th>
    <th>NoOfPages</th>
    <th>ISBN</th>
    <th>Key</th>
    <th>Genre</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor = "let book of books">
    <td>{{ book.bookId}}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.title }}</td>
    <td>{{ book.publisherName}}</td>
    <td>{{ book.publishedYear}}</td>
    <td>{{ book.noOfPages}}</td>
    <td>{{ book.isbn }}</td>
    <td>{{ book.key }}</td>
    <td>{{ book.genre }}</td>
  </tr>
  </tbody>
</table>



