
<h2>Book List</h2>
<table class = "table">
  <thead>
  <tr>
    <th>BookId</th>
    <th>Author</th>
    <th>Title</th>
    <th>Publisher</th>
    <th>Year</th>
    <th>NoOfPages</th>
    <th>ISBN</th>
    <th>Key</th>
    <th>Genre</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor = "let book of books">
    <td>{{ book.BookId}}</td>
    <td>{{ book.Author }}</td>
    <td>{{ book.Title }}</td>
    <td>{{ book.Publishername}}</td>
    <td>{{ book.Publishedyear}}</td>
    <td>{{ book.NoOfPages}}</td>
    <td>{{ book.Isbn }}</td>
    <td>{{ book.Key }}</td>
    <td>{{ book.Genre }}</td>

  </tr>
  </tbody>
</table>



